<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_head.ejs') %>
    <title>My Music</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <main>
      <div>
        <h1>Welcome to Your Music!</h1>
        <a href="/users/<%=user._id %>/music/new">Add New Music</a>
      </div>
      <div>
        <ul>
          <% songs.forEach((music) => { %>
          <li>
            <a href="/users/<%= user._id %>/music/<%= music._id %>">
              <%= music.songName %> by <%= music.artistName %>
            </a>
          </li>
          <% }); %>
        </ul>
      </div>
    </main>
  </body>
</html>
