<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Music</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to Your Music!</h1>
    <a href="/users/<%=user._id %>/music/new">Add New Music</a>

    <ul>
        <% songs.forEach((music) => { %>
          <li>  
            <a href="/users/<%= user._id %>/music/<%= music._id %>">
            <%= music.songName %> by <%= music.artistName %>
            </a>
          </li>
        <% }); %>

    </ul>


  </body>
</html>
